@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Bree+Serif&display=swap');

body {
    background-image: linear-gradient( to right,#37F047,#3DD976);
    font-family: "Bree Serif", serif;
    text-align: justify;
    font-weight: 700;
    font-size:1em;
    color: #1A7021;
}

h1 {
    color: antiquewhite;
    font-family: "Bree Serif";
}

h2 {
    color: cornsilk;
    font-family: "Bree Serif", serif;
}

#main {
    text-transform: uppercase;
    background-color:black ;
    text-align: center;
}