@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
body {
    text-align: center;
    margin-top: 200px;
}

h1 {
    margin: 5px;
}

.botao {
    height: 20px;
    width: 40px;
    background-color: brown;

}

.botao:active {
    background-color: black;
}