body {
    background-color: bisque;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.quadro {
    display: inline-block;
    height: 400px;
    width: 600px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 5px gray;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 70px;
    color: white;
    padding: 20px;
}

.titulo2 {
    font-weight: 400;
}

