body {
    background-color: darkolivegreen;
    color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-align: center;
    color: darkkhaki;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size:large;
}