@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');
body {
  font-size: 1em; 
  background-image: linear-gradient(to bottom,#7A291B,#471810);
  color: aliceblue; 
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-weight: 700;
}